<section id="certifications" class="education-section py-3">
  <h2 class="text-uppercase resume-section-heading mb-4">
    {{ i18n "certifications" }}
  </h2>

  <ul class="list-unstyled resume-certifications-list">
    {{ range .Site.Params.certifications.list }}
    <li class="mb-3">
      <div class="fw-bold">{{ .name }}</div>
      <div class="resume-metadata text-body-secondary">{{ .body }}</div>
      <div class="resume-metadata resume-date text-body-secondary">{{ .date }}</div>
    </li>
    {{ end }}
  </ul>
</section>
<!--//certifications-section-->
