<aside class="resume-aside col-12 col-lg-5 col-xl-4 ps-lg-2 pe-lg-2 pb-lg-4">
  {{- $links := partialCached "resume-links.html" . .Site.Language.Lang -}}
  {{- with $links.actions }}
  <nav class="resume-actions" aria-label="Resume actions">
    <ol class="list-unstyled resume-actions-list">
      {{- range . }}
      <li
        class="resume-action-item"
        data-resume-link-id="{{ .id }}"
        data-resume-kind="{{ .kind }}"
        data-kind="{{ .kind }}"
        {{- if .download }} data-pdf-action{{ end }}
      >
        <a
          class="resume-link resume-action-link"
          href="{{ .href | safeURL }}"
          data-resume-kind="{{ .kind }}"
          data-kind="{{ .kind }}"
          {{- with .rel }} rel="{{ . }}"{{ end }}
          {{- if .download }} download data-pdf-action{{ end }}
        >
          {{- partial "resume-icon.html" (dict "icon" .icon "class" "resume-icon resume-action-icon") }}
          <span class="visually-hidden">{{ .label }}</span>
          <span class="resume-action-tooltip" aria-hidden="true">{{ .label }}</span>
        </a>
      </li>
      {{- end }}
    </ol>
  </nav>
  {{- end }}
  {{ if .Site.Params.skills.enable }} {{ partial "skills.html" . }} {{ end }}
  {{ if .Site.Params.education.enable }} {{ partial "education.html" . }} {{ end
  }} {{ if .Site.Params.certifications.enable }} {{ partial
  "certifications.html" . }} {{ end }}
  {{ if .Site.Params.languages.enable }} {{ partial "languages.html" . }} {{ end
  }} {{ if .Site.Params.interests.enable }} {{ partial "interests.html" . }} {{
  end }} {{ if .Site.Params.awards.enable }} {{ partial "awards.html" . }} {{
  end }}
</aside>
