<aside class="resume-aside col-12 col-lg-5 col-xl-4 pl-lg-2 pr-lg-2 pb-lg-4">
  {{ $emailURL := "" }}
  {{ $onlineCvURL := .Site.Params.seo.canonical | default .Site.BaseURL }}
  {{ $pdfURL := "" }}
  {{ range .Site.Params.contact.list }}
    {{ if hasPrefix (lower .url) "mailto:" }}
      {{ $emailURL = .url }}
    {{ end }}
    {{ if or (in (lower .text) "download pdf") (in (lower .url) ".pdf") }}
      {{ $pdfURL = .url }}
    {{ end }}
  {{ end }}
  {{ if .Site.Params.social.enable }}
  <div class="resume-social-icons">
    {{ if ne $emailURL "" }}
    <a class="resume-link" href="{{ $emailURL }}" aria-label="Email">
      <i class="fas fa-at mr-2" data-fa-transform="down-4"></i>
    </a>
    {{ end }}
    <a class="resume-link" href="{{ $onlineCvURL | safeURL }}" target="_blank" aria-label="Online CV">
      <i class="fas fa-circle mr-2" data-fa-transform="down-4"></i>
    </a>
    {{ range .Site.Params.social.list }}
    <a class="resume-link" href="{{ .url }}" target="_blank">
      <i class="{{ .icon }} mr-2" data-fa-transform="down-4"></i>
    </a>
    {{ end }}
    {{ if ne $pdfURL "" }}
    <a class="resume-link" href="{{ $pdfURL | safeURL }}" target="_blank" aria-label="PDF Resume">
      <i class="fa-solid fa-file-pdf fas fa-file-pdf mr-2" data-fa-transform="down-4"></i>
    </a>
    {{ end }}
  </div>
  {{ end }}
  {{ if .Site.Params.skills.enable }} {{ partial "skills.html" . }} {{ end }}
  {{ if .Site.Params.education.enable }} {{ partial "education.html" . }} {{ end
  }} {{ if .Site.Params.certifications.enable }} {{ partial
  "certifications.html" . }} {{ end }}
  {{ if .Site.Params.languages.enable }} {{ partial "languages.html" . }} {{ end
  }} {{ if .Site.Params.interests.enable }} {{ partial "interests.html" . }} {{
  end }} {{ if .Site.Params.awards.enable }} {{ partial "awards.html" . }} {{
  end }}
</aside>
<!--//resume-aside-->
